---
import { getPostsByTags, getTags } from "@/data"
import { type CollectionEntry } from "astro:content"

import BaseLayout from "@/layouts/BaseLayout.astro"

import BlogCard from "@/components/BlogCard.astro"
import Icon from "@/components/Icon.astro"

type Props = CollectionEntry<"tag">

export async function getStaticPaths() {
  return (await getTags()).map((tag) => ({
    params: { id: tag.id },
    props: tag,
  }))
}

const { id, data } = Astro.props
const postsByTag = await getPostsByTags(id)
---

<BaseLayout title={id}>
  <section>
    <div class="flex items-center justify-center space-x-4">
      <Icon name={`tags/${id}`} class="h-8 w-8" />
      <h1 class="text-center text-4xl font-bold tracking-tighter">
        {data.name}
      </h1>
    </div>
  </section>
  <section>
    <ul class="flex flex-col items-stretch space-y-6">
      {
        postsByTag.map((post) => (
          <li>
            <BlogCard slug={post.slug} data={post.data} />
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>
