---
import { getEntries, type CollectionEntry } from "astro:content"

import TagList from "@/components/TagList.astro"

import FormattedDate from "./FormattedDate.astro"

interface Props {
  slug: string
  data: CollectionEntry<"blog">["data"]
}

const { slug, data } = Astro.props
const tags = await getEntries(data.tags)
---

<div class="flex flex-col items-stretch rounded-lg bg-background-light shadow">
  <div class="flex items-center justify-between p-4">
    <TagList tags={tags} />
    <div class="flex items-center space-x-4">
      {
        data.updatedAt && (
          <div class="text-sm">
            <span class="text-muted-foreground">Updated at</span>{" "}
            <FormattedDate date={data.updatedAt} />
          </div>
        )
      }
      <div class="text-sm">
        <span class="text-muted-foreground">Published at</span>
        <FormattedDate date={data.publishedAt} />
      </div>
    </div>
  </div>
  {
    data.image && (
      <a href={`/blog/${slug}`} class="group">
        <div class="overflow-hidden">
          <img
            src={"/src/content/blog/" + data.image}
            alt={data.image}
            class="transition-transform duration-200 ease-out hover:scale-125"
          />
        </div>
      </a>
    )
  }
  <div class="p-4">
    <a href={`/blog/${slug}`} class="hover:underline">
      <h3 class="text-3xl font-bold">{data.title}</h3>
    </a>
    <p class="text-foreground/80">{data.description}</p>
  </div>
</div>
