---
import { getEntries, type CollectionEntry } from "astro:content"

import FormattedDate from "./FormattedDate.astro"
import TagList from "./TagList.astro"

type Props = Pick<CollectionEntry<"note">, "data" | "slug">

const { slug, data } = Astro.props
const tags = await getEntries(data.tags)
---

<div
  class="flex flex-col items-stretch space-y-4 rounded bg-background-light p-4 shadow"
>
  <div class="flex items-center justify-between">
    <TagList tags={tags} />
    <div class="flex items-center space-x-4">
      {
        data.updatedAt && (
          <div class="text-sm">
            <span class="text-muted-foreground">Updated at</span>{" "}
            <FormattedDate date={data.updatedAt} />
          </div>
        )
      }
      <div class="text-sm text-foreground/30">
        <FormattedDate date={data.publishedAt} />
      </div>
    </div>
  </div>
  <div>
    <a href={`/notes/${slug}`} class="underline-offset-4 hover:underline">
      <h3 class="text-3xl font-bold">{data.title}</h3>
    </a>
  </div>
</div>
