---
import { type CollectionEntry, getEntries } from "astro:content"
import BaseLayout from "./BaseLayout.astro"
import FormattedDate from "@/components/FormattedDate.astro"
import TagList from "@/components/TagList.astro"
type Props = CollectionEntry<"posts">["data"]

const { title, description, tags, publishedAt, updatedAt, image } = Astro.props
const populatedTags = await getEntries(tags)
---

<BaseLayout title={title} description={description} image={image}>
  <article>
    <div class="border-b border-border">
      {image && <img class="w-full" src={image} alt={image} />}
      <div
        class="relative z-20 mx-auto -mt-12 flex w-[96%] flex-col items-center space-y-4 rounded bg-background p-8"
      >
        <div class="text-secondary">
          <FormattedDate date={publishedAt} />
        </div>
        <h1 class="text-center text-4xl font-bold">{title}</h1>
        <TagList tags={populatedTags} />
      </div>
    </div>

    <div class="space-y-4 text-xl leading-relaxed"><slot /></div>
  </article>
</BaseLayout>
